<div>
  <div class="container">
    <div class="row intro mt-5">
      <div class="col-md-6 d-flex align-items-start mt-5">
        <div>
          <p class="small-heading">LET'S SHIFT YOUR BUSINESS</p>
          <p class="h1 fw-bold text-wrap col-md-10">
            Shift your business fast with Shade Pro
          </p>
          <p class="desc normal-passage col-md-10">
            With lots of unique blocks, you can easily build a page without
            coding. Build your next consultancy website within few minute.
          </p>
          <button class="btn btn-primary p-2">Get started a project</button>
        </div>
      </div>
      <div class="col-md-6">
        <img
          src="../../../assets/svg/woman-laughing.svg"
          class="img-fluid mx-auto my-auto"
          decoding="async"
          loading="lazy"
        />
      </div>
    </div>
    <div class="services text-center m-5">
      <p class="small-heading justify-content-center">OUR SERVICES</p>
      <p class="h4 fw-bold m-2 d-inline-flex">
        We provide great services for our customer based on needs
      </p>
      <div class="row mt-5 w-100">
        <div class="col-md-4 d-flex justify-content-center align-items-stretch">
          <div class="card p-3 first-service d-flex align-items-stretch">
            <img
              src="../../../assets/svg/designer.svg"
              class="card-img-top"
              alt="Graph Designer"
              decoding="async"
              loading="lazy"
            />
            <div class="card-body">
              <h5 class="card-title">Graph Design</h5>
              <p class="card-text">
                With lots of unique blocks, you can easily build a page without
                coding. Build your next landing page.
              </p>
              <a href="#" class="btn">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card p-3 second-service d-flex align-items-stretch">
            <img
              src="../../../assets/svg/developer.svg"
              class="card-img-top"
              alt="Graph Design"
              decoding="async"
              loading="lazy"
            />
            <div class="card-body">
              <h5 class="card-title">Graph Design</h5>
              <p class="card-text">
                With lots of unique blocks, you can easily build a page without
                coding. Build your next landing page.
              </p>
              <a href="#" class="btn">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card p-3 third-service d-flex align-self-stretch">
            <img
              src="../../../assets/svg/content-writer.svg"
              decoding="async"
              loading="lazy"
              class="card-img-top img-fluid"
              alt="Graph Design"
            />
            <div class="card-body">
              <h5 class="card-title">Graph Design</h5>
              <p class="card-text">
                With lots of unique blocks, you can easily build a page without
                coding. Build your next landing page.
              </p>
              <a href="#" class="btn">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials m-5">
      <div class="row d-flex justify-content-center">
        <div class="col-sm-3">
          <img
            src="../../../assets/svg/person.svg"
            decoding="async"
            loading="lazy"
            class="img-fluid"
          />
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex text-center">
                <app-star-rating></app-star-rating>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="h5 fw-bold align-items-end">
                    “OMG! I cannot believe that I have got a brand new landing
                    page after getting Albino. It was super easy to edit and
                    publish.”
                  </p>
                  <p>Franklin Hicks Web Developer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="story m-5">
      <p class="small-heading">OUR STORY</p>
      <p class="desc h4 fw-bold col-md-4">
        We know how everything works and why your business is failing over and
        over again.
      </p>
      <div class="row mt-5">
        <div class="col-md-5 slide-top">
          <img
            src="../../../assets/svg/person-with-specs.svg"
            decoding="async"
            loading="lazy"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6">
          <div class="row slide-top">
            <div class="col-md-6">
              <img
                src="../../../assets/svg/woman.svg"
                decoding="async"
                loading="lazy"
                class="img-fluid"
              />
            </div>

            <div class="col-md-6 slide-bottom align-items-end">
              <img
                src="../../../assets/svg/girl-lollipop.svg"
                decoding="async"
                loading="lazy"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-11">
              We share common trends and strategies for improving your rental
              income and making sure you stay in high demand. With lots of
              unique blocks, you can easily build a page without coding. Build
              your next landing page.
            </div>
          </div>
        </div>
      </div>
      <div class="row m-5">
        <div class="col-md-4">
          <div class="h2 counter" data-target="1">1M+</div>
          <div class="normal-passage">
            Customers visit Omega every month to get their service done.
          </div>
        </div>
        <div class="col-md-4">
          <div class="h2">92%</div>
          <div class="normal-passage">
            Satisfaction rate comes from our awesome customers.
          </div>
        </div>
        <div class="col-md-4">
          <div class="h2">4.9/5.0</div>
          <div class="normal-passage">
            Average customer ratings we have got all over internet.
          </div>
        </div>
      </div>
    </div>
    <div class="reasons-for-choose mt-5 w-100 p-5">
      <p class="small-heading text-center">WHY CHOOSE US</p>
      <p class="h4 text-wrap text-center">
        People choose us because we serve the best for everyone
      </p>
      <div class="row m-5">
        <div class="col-md-6">
          <div class="d-flex">
            <div>
              <img
                src="../../../assets/svg/icon/project-manager.svg"
                alt=""
                style="background-color: rgb(227, 228, 249)"
                class="p-2 rounded-3"
                decoding="async"
                loading="lazy"
              />
            </div>
            <div class="col-sm-8">
              <p class="fw-bold">Dedicated project manager</p>
              <p>
                With lots of unique blocks, you can easily build a page without
                coding. Build your next landing page.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex">
            <div>
              <img
                src="../../../assets/svg/icon/tasks.svg"
                alt=""
                style="background-color: rgb(244, 230, 233)"
                class="p-2 rounded-3"
                decoding="async"
                loading="lazy"
              />
            </div>
            <div class="col-sm-8">
              <p class="fw-bold">Organized tasks</p>
              <p>
                With lots of unique blocks, you can easily build a page without
                coding. Build your next landing page.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-5">
        <div class="col-md-6">
          <div class="d-flex m-3">
            <div>
              <img
                src="../../../assets/svg/icon/messaging.svg"
                alt=""
                style="background-color: rgb(230, 244, 238)"
                class="p-2 rounded-3"
                decoding="async"
                loading="lazy"
              />
            </div>
            <div class="col-sm-8">
              <p class="fw-bold">Easy feedback sharing</p>
              <p>
                With lots of unique blocks, you can easily build a page without
                coding. Build your next landing page.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex">
            <div>
              <img
                src="../../../assets/svg/icon/time-deadline.svg"
                alt=""
                style="background-color: rgb(222, 225, 229)"
                decoding="async"
                loading="lazy"
                class="p-2 rounded-3"
              />
            </div>
            <div class="col-sm-8">
              <p class="fw-bold">Never miss deadline</p>
              <p>
                With lots of unique blocks, you can easily build a page without
                coding. Build your next landing page.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-5 d-flex justify-content-around">
        <div class="col-md-6">
          <p class="h3 fw-bold">Ready to launch your next project?</p>
          <p class="normal-passage col-sm-10">
            With lots of unique blocks, you can easily build a page without
            coding. Build your next landing page.
          </p>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary p-2">Get Started a project</button>
        </div>
      </div>
    </div>
    <div class="case-studies m-5 text-center">
      <p class="small-heading p">CASE STUDIES</p>
      <p class="h4 fw-bold">
        Our works describe why we are the best in the business
      </p>
      <div class="row mt-5 d-flex justify-content-center">
        <div class="col-sm-3">
          <div class="card">
            <img
              src="../../../assets/svg/aura-branding-design.svg"
              class="card-img-top img-fluid"
              alt="..."
              decoding="async"
              loading="lazy"
            />
            <div class="card-body">
              <p class="card-text normal-passage">Graphic Design</p>
              <p class="card-title fw-bold">Aura Branding Design</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img
              src="../../../assets/svg/abs-packaging.svg"
              class="card-img-top img-fluid"
              alt="..."
              decoding="async"
              loading="lazy"
            />
            <div class="card-body">
              <p class="card-text normal-passage">Graphic Design</p>
              <p class="card-title fw-bold">AB.S Snack Packaging</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 d-flex justify-content-center">
        <div class="col-sm-3">
          <div class="card">
            <img
              src="../../../assets/svg/gradient-website-design.svg"
              class="card-img-top img-fluid"
              alt="..."
              decoding="async"
              loading="lazy"
            />
            <div class="card-body">
              <p class="card-text normal-passage">Web Development</p>
              <p class="card-title fw-bold">Gradient Website Development</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img
              src="../../../assets/svg/magazine-content-writing.svg"
              class="card-img-top img-fluid"
              alt="..."
              decoding="async"
              loading="lazy"
            />
            <div class="card-body">
              <p class="card-text normal-passage">Content Writing</p>
              <p class="card-title fw-bold">Magazine Content Writing</p>
            </div>
          </div>
        </div>
      </div>
      <a href="">See all works</a>
    </div>
  </div>
  <div class="testimonial mt-5 p-5 text-center">
    <p class="small-heading">TESTIMONIAL</p>
    <p class="h4 fw-bold m-3 text-wrap">
      “Simply the best. Better than all the rest. I’d recommend this product to
      beginners and advanced users.”
    </p>
    <img
      src="../../../assets/svg/testimonal-person.svg"
      decoding="async"
      loading="lazy"
      class="img-fluid"
    />
    <p class="fw-bold m-1">Ian Klein</p>
    <p class="normal-passage m-1">Digital Marketer</p>
  </div>
  <div class="footer mw-100 p-5 w-100">
    <div class="row d-inline-flex justify-content-around">
      <div class="col">
        <p class="h3 fw-bold">Ready to launch your next project?</p>
        <p class="normal-passage">
          With lots of unique blocks, you can easily build a page without
          coding. Build your next landing page. Get started a project
        </p>
      </div>
      <div class="col">
        <button class="btn btn-primary p-2">Get Started a project</button>
      </div>
    </div>
    <div class="container">
      <footer class="text-center text-lg-start">
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
              <div class="col-md-3 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold">Brainwave.io</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" />
                <p class="normal-passage">
                  With lots of unique blocks, you can easily build a page
                  without coding. Build your next landing page.
                </p>
                <section class="d-flex justify-content-between p-4">
                  <div>
                    <a href="" class="me-4">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="me-4">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="me-4">
                      <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="me-4">
                      <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="me-4">
                      <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="me-4">
                      <i class="fab fa-github"></i>
                    </a>
                  </div>
                </section>
              </div>

              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="normal-passage fw-bold">Company</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" />
                <p>
                  <a href="#!" class="">About us</a>
                </p>
                <p>
                  <a href="#!" class="">Contact us</a>
                </p>
                <p>
                  <a href="#!" class="">Careers</a>
                </p>
                <p>
                  <a href="#!" class="">Press</a>
                </p>
              </div>

              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="normal-passage fw-bold">Product</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" />
                <p>
                  <a href="#!" class="">Features</a>
                </p>
                <p>
                  <a href="#!" class="">Pricing</a>
                </p>
                <p>
                  <a href="#!" class="">News</a>
                </p>
                <p>
                  <a href="#!" class="">Help desk</a>
                </p>
                <p>
                  <a href="#!" class="">Support</a>
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="normal-passage fw-bold">Services</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" />
                <p>
                  <a href="#!" class="">Digital Marketing</a>
                </p>
                <p>
                  <a href="#!" class="">Content Writing</a>
                </p>
                <p>
                  <a href="#!" class="">SEO for Business</a>
                </p>
                <p>
                  <a href="#!" class="">UI Design</a>
                </p>
              </div>

              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="normal-passage fw-bold">Legal</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" />
                <p>
                  <a href="#!" class="">Privacy Policy</a>
                </p>
                <p>
                  <a href="#!" class="">Terms & Conditions</a>
                </p>
                <p>
                  <a href="#!" class="">Return Policy</a>
                </p>
              </div>
            </div>
          </div>
        </section>
      </footer>
    </div>
  </div>
</div>
